<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutomationFrameworkWithSpecFlow.Utilities.DefaultValues" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutomationFrameworkWithSpecFlow.Utilities.DefaultValues>
            <setting name="DefaultURL" serializeAs="String">
                <value>https://angularjs.realworld.io/#/register</value>
            </setting>
            <setting name="DefaultUserName" serializeAs="String">
                <value>pjessop</value>
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>codermonkeyjs@gmail.com</value>
            </setting>
        </AutomationFrameworkWithSpecFlow.Utilities.DefaultValues>
    </applicationSettings>
</configuration>